html,
body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: 50px auto;
}
.layanan {
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
  margin-bottom: 20px;
}
.layanan.satu {
  background-color: rgb(188, 63, 63);
}
.layanan.dua {
  background-color: rgb(94, 189, 94);
}
.layanan.tiga {
  background-color: rgb(104, 104, 246);
}

/* responsive */
@media (min-width: 600px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .layanan {
    width: 30%;
  }
}
